body {
  background-color:#f2f2f2; 
  color:black;
}
#headerCont {
  border: solid crimson 2px; margin-bottom: 10px; padding: 10px;
  background-color: crimson;
}
#headerCont h3 {
  color: white;
}

.nav-link {
  width: 200px;
  padding:2vh;
  padding-top: 35px; 
  padding-bottom: 35px;   

  margin: 2vh;
  margin-left: 0;
  transition: background-color 0.4s;
  color: white;
  background-color: #333333;
}

.nav-link:hover {
  color: white;
  background-color: #0052cc;
  cursor: pointer;
}

#colTbl .col .container-fluid {
  border: solid black 2px; height: 50vh;
}

#editRoleBtn {
  width: 15vh;
}
table.table-dark{
  font-size: 17px; /* Adjust the font size as needed */
}

#TransactionsTbl {
  border: solid black 2px; height: 50vh; margin-bottom: 2%
}

#Home, #Sort {
  padding: 10px;
}


#Sort .my-table {
  display: none;
}