body {
  background-color:#f2f2f2; 
  color:black;
}
#headerCont {
  border: solid crimson 2px; margin-bottom: 10px; padding: 10px;
  background-color: crimson;
}
#headerCont h3 {
  color: white;
}

#colTbl .col .container-fluid {
  border: solid black 2px; height: 50vh;
}

table.table-dark{
  font-size: 17px; /* Adjust the font size as needed */
}

#InventoryTbl {
  border: solid black 2px; height: 77vh; margin-bottom: 2%
}
h4 {
  margin-top: 3vh;
}
.btn {
  width: 15vh;
}